$c_0: #CCCCC0; 
$c_0_a: #1b1f2a10; 
$c_0_b: #00000040; 
$c_1: #ffffff; 
$c_1_a: #ffffff50; 
$c_2: #ffffff; 
$c_2_a: #ebebee; 
$c_2_b: #d0d5d9; 
$c_3: #3483ff; 
$c_3_a: #bac2cb; 
$c_3_b: #0055d5; 
$c_3_c: #ffffff20; 
$c_4_a: #373c4d; 
$c_4_b: #373c4d; 
$c_4_c: #13161f; 
$c_4_d: #13161f; 
$c_4_e: #223759; 
$c_4_f: #223759; 
$c_4_g: #ffffff; 
$c_4_h: #ffffff; 
$c_4_i: #d7dce3; 
$c_4_j: #d7dce3; 
$c_4_k: #3483ff; 
$c_4_l: #3483ff; 
$c_5: #f5f5f5; 
$c_5_a: #f5f5f5; 
$c_5_b: #13161f; 
$c_5_c: #252936; 
$c_5_d: #3e4252; 
$c_6: #3483ff; 
$c_7: #ff7f28; 
$c_7_a: #ffffff50; 
$c_7_b: #bac2cb; 
$c_8: #f94956; 
$c_8_a: #d73642; 
$c_9: #e1e4e7; 
$c_9_a: #ffffff10; 
$c_10: #4ba7fe; 
$c_11: #f99359; 
$c_12: #32c386; 
$c_13: #00ba1f; 
$c_14: #ffba00; 
$c_15: #f31d20; 
$c_16: #a8090b; 
$c_17: #0091ff; 
$c_18: #6b7886; 
$c_19: #212121; 
$c_20: #f99359; 
$c_21: #1f2530; 
$c_21_a: #1f253000; 
$c_21_b: #1f2530; 
$c_22_a: #353b45; 
$c_22_b: #353b45; 
$c_23_a: #f99359; 
$c_23_b: #f1f2f4; 
$c_24: #ffffff; 
$c_25: #353b4500; 
$c_26_a: #3483ff; 
$c_26_b: #13171F; 
$c_26_c: #0055d5; 
$c_27_a: #3483ff; 
$c_27_b: #3483ff; 
$c_28_a: #F99359; 
$c_28_b: #F99359; 
$c_29_a: #353b45; 
$c_29_b: #13171F; 
$c_29_c: #2D323B; 
$c_30_a: #353b45; 
$c_30_b: #13171F; 
$c_30_c: #2D323B; 
$c_31_a: #353b45; 
$c_31_b: #353b45; 
$c_32_a: #f5f5f5; 
$c_32_b: #f5f5f5; 
$c_33_a: #ffffff; 
$c_33_b: #ffffff; 
$c_34: #ffffff; 
$c_35: #ffffff; 
$c_36_a: #4ba7fe; 
$c_36_b: #2c80d0; 
$c_37_a: #bac2cb; 
$c_37_b: #8a8e99; 
$c_38: #0055d5; 
$f_c_1: #ffffff; 
$f_c_1_a: #ffffff50; 
$f_c_2: #212121; 
$f_c_2_a: #d0d5d9; 
$f_c_3: #6b7886; 
$f_c_4: #8a8e99; 
$f_c_5: #bac2cb; 
$f_c_6: #3483ff; 
$f_c_7_a: #ffffff50; 
$f_c_7_b: #6b7886; 
$f_c_8: #f94956; 
$f_c_9: #32C386; 
$f_c_10: #f99359; 
$f_c_11: #3483ff; 
$f_c_12_a: #ffffff; 
$f_c_12_b: #ffffff; 
$f_c_13: #ffffff; 
$f_c_14_a: #212121; 
$f_c_14_b: #6b7886; 
$f_c_15: #ffffff; 
$f_c_15_a: #ffffff; 
$f_c_15_b: #FFFFFF50; 
$f_c_16: #ffffff; 
$f_c_17: #ffffff50; 
$f_c_18: #ffffff50; 
$f_c_19_a: #ffffff; 
$f_c_19_b: #6b7886; 
$f_c_19_c: #6b7886; 
$f_c_20: #6b7886; 
$f_c_21: #212121; 
$f_c_22: #ffffff80; 
$f_c_23: #3483ff; 
$f_c_24: #ffffff; 
$f_c_25: #ffffff; 
$f_c_26_a: #ffffff; 
$f_c_26_b: #FFFFFF50; 
$c_42_a: #EE783A; 
$c_42_b: #F8AC7E; 
$c_43: #FFFFFF20; 
$c_44_a: #FFFFFF; 
$c_44_b: #FFFFFF60; 
$f_c_30_a: #93754B; 
$f_c_30_b: #FFFFFF; 
$f_c_30_c: #DCB377; 
$f_c_40: #f99359; 
$f_c_41: #212121; 
$f_c_42: #FFB80B; 
$c_27_c: #285090; 
$c_27_d: #1F2530; 
$c_28_c: #865842; 
$c_28_d: #1F2530; 
$c_39_a: #45CC93; 
$c_39_b: #45CC93; 
$c_40_a: #8995C2; 
$c_40_b: #8995C2; 
$c_41: #1F2530; 
$f_c_27_a: #4BA7FE; 
$f_c_27_b: #F99359; 
$f_c_27_c: #212121; 
$f_c_27_d: #212121; 
$f_c_28_a: #FFFFFF; 
$f_c_28_b: #FFFFFF; 
$f_c_29: #FFFFFF50; 
$f_c_41_a: #3483ff; 
$f_c_41_b: #8A8E99; 
$c_9_b: #353b45; 
$c_47: #5DA5E9; 
$f_c_43: #E0BB8A; 
$c_3_d: #3483FF; 
$c_3_e: #F99359; 
$c_45: #FFFFFF54; 
$f_c_15_c: #FFFFFF; 
$f_c_44: #F99359; 
$f_c_44_a: #4BA7FE; 
$f_c_45: #F99359; 
$f_c_46: #CFD8F1; 
$c_46: #42528580; 
$f_c_47: #F99359; 
$f_c_49_a: #F99359; 
$f_c_49_b: #6B7886; 
$f_c_49_c: #BAC2CB; 
$c_49_a: #F99359; 
$c_49_b: #6B7886; 
$c_49_c: #3BBF6A; 
$c_49_d: #FB868F; 
$c_49_e: #13161F20; 
$c_49_f: #000000; 
$c_x_50_a: #FF9400; 
$c_x_51_a: #C6C6C6; 
$c_x_51_b: #E9E9E9; 
$f_c_50_c: #471204; 
$c_50: #FEDCC866; 
$c_51: #FFBF9A; 
$c_52: #EDF4FF; 
$V2_c_1: #363D53; 
$V2_c_2: #4E5B78; 
$V2_c_3: #BAB8BCCC; 
$V2_c_4: #F7F7F7; 
$V2_c_5: #EAF0FF; 
$V2_c_6: #FAFCFF; 
$V2_c_7: #176AF0; 
$V2_c_8: #27A0FF; 
$V2_c_9: #636B81; 
$V2_c_10: #FF4C57; 
$V2_c_12: #C8C9CD; 
$V2_c_13: #176AF0; 
$V2_c_14: #D3D4D9; 
$V2_c_15: #FFBC97; 
$V2_c_16: #EBF0F8; 
$V2_c_17: #47506A; 
$V2_c_18: #46648B; 
$V2_c_19: #F94956; 
$V2_c_20: #47526D; 
$V2_c_21: #eaeaea; 
$V2_c_22: #9B9B9B; 
$V2_c_23: #E8EAE9; 
$V2_f_c_1: #FFFFFF; 
$V2_f_c_2: #333333; 
$V2_f_c_3: #176AF0; 
$V2_f_c_4: #C4C4C6; 
$V2_f_c_5: #47506A; 
$V2_c_24: #FFFFFF; 
$V2_c_25: #FAFCFE; 
$V2_f_c_6: #7D7D80; 
$V2_c_26: #F4F4F4; 
$V2_c_27: #FF4C57; 
$V2_c_28: #3BBF6A; 
$V2_f_c_7: #505050; 
$V2_f_c_8: #F27315; 
$V2_c_29: #FF4C57; 
$V2_f_c_9: #FF4C57; 
$V2_c_30: #EDF4FF; 
$V2_c_31: #125695; 
$V2_c_32: #2185BB; 
$V2_f_c_10: #6A6A6A; 
$V2_f_c_11: #E0E0E0; 
$V2_c_33: #176AF0; 
$V2_c_34: #ffffff; 
$V2_c_35: #ADADAD; 
$V2_c_36: #176AF0; 
$V2_f_c_12: #9F9F9F; 
$V2_f_c_13: #636363; 
$V2_c_37: #333333E6; 
$V2_c_38: #F5F5F51A; 
$V2_f_c_14: #6B7886; 
$V2_f_c_15: #666666; 
$V2_f_c_16: #E0BB8A; 
$V2_f_c_17: #176AF0; 
$V2_c_39: #176AF0; 
$V2_c_40: #FFD7DD; 
$V2_c_41: #FDF1F3; 
$V2_c_42: #45CC93; 
$V2_c_43: #BAC2CB; 
$V2_c_44: #FAFAFA; 
$V2_c_45: #EEEEEE; 
$V2_c_46: #F2F2F2; 
$V2_c_47: #F0F0F0; 
$V2_f_c_18: #46648B; 
$V2_c_48: #176AF0; 
$V2_c_49: #00000010; 
$V2_f_c_19: #176AF0; 
$V2_f_c_20: #F99359; 
$V2_c_50: #3A3B3FE6; 
$V2_c_51: #00000099; 
$V2_c_52: #F99359; 
$V2_c_53: #ffffff; 
$V2_c_54: #176AF0; 
$V2_c_55: #F99359; 
$V2_c_56: #ebebee; 
$V2_c_57: #ffffff80; 
$V2_c_58: #ffffff; 
$V2_f_c_21: #FFB80B; 
$V2_c_60: #E0E0E0; 
$V2_c_61: #176AF0; 
$V2_c_62: #32c386; 
$V2_f_c_22: #f94956; 
$V2_c_68: #212121; 
$V2_f_c_23: #FFB80B; 
$V2_c_70: #5F9BFD; 
$V2_c_71: #636B81; 
$V2_c_72: #ffffff; 
$V2_c_74: #FFFFFFCC; 
$V2_f_c_24: #32C386; 
$V2_f_c_25: #176AF0; 
$V2_c_75: #FDF1F3; 
$V2_f_c_26: #ffffff; 
$V2_c_76: #FFD7DD; 
$V2_f_c_27: #FF6671; 
$V2_c_77: #333333; 
$V2_f_c_28: #ffffff; 
$V2_f_c_29: #FFFFFF80; 
$V2_c_78: #FFFFFF33; 
$V2_c_79: #FFFFFF; 
$V2_c_80: #FFFFFF99; 
$V2_f_c_31: #FFFFFF; 
$V2_f_c_32: #DCB377; 
$V2_f_c_33: #8995C2; 
$V2_f_c_34: #F99359; 
$V2_f_c_35: #4BA7FE; 
$V2_f_c_36: #F99359; 
$V2_f_c_37: #CFD8F1; 
$V2_c_81: #425285CC; 
$V2_f_c_38: #F99359; 
$V2_f_c_39: #F99359; 
$V2_c_82: #242d48; 
$V2_c_83: #176AF0; 
$V2_c_84: #2C2F38; 
$V2_c_85: #34373E; 
$V2_c_86: #FFF4E1; 
$V2_c_87: red; 
$V2_c_88: #666665; 
$V2_c_89: #c1c123; 
$V2_c_90: #1233; 
$V2_c_91: red; 
$V2_c_92: red; 
$V2_f_c_40: #FFFFFF; 
$V2_c_93: red; 
$V2_f_c_41: #FFFFFF; 
$V2_c_94: #c1c123; 
$V2_c_95: #123455; 
$V2_c_96: #c1c123; 
$V2_c_97: #F77213; 
$V2_c_98: #FFFFFF; 
$V2_c_99: #F77213; 
$V2_c_100: #FFFFFF; 
$V2_f_c_42: #FFFFFF; 
$V2_f_c_43: #F77213; 
