.login {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__form {
    padding: 80px 50px;
    border-radius: 5%;
    border: 1px solid #2cd63d;
    position: relative;
    &--content {
      .ant-form-item {
        width: 420px;
      }
    }
    &--img {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      width: 70px;
      height: 70px;
      background: url('https://static.leetcode.cn/cn-mono-assets/production/assets/qrcode_v2.3cae98c4.svg') center no-repeat;
      background-size: cover;
    }
    &--img:hover {
      background: url('https://static.leetcode.cn/cn-mono-assets/production/assets/qrcode_dark.c8e425ab.svg') center no-repeat;
      background-size: cover;
    }
    &--tip {
      padding: 6px 8px;
      line-height: 16px;
      font-size: 12px;
      border-radius: 5px;
      cursor: pointer;
      position: absolute;
      top: 16px;
      right: 74px;
      background-color: #e8f3ff;
    }
    &--agree {
      font-size: 12px;
      position: absolute;
      bottom: 20px;
      left: 138px;
      display: flex;
      align-items: center;
      .ant-checkbox {
        margin-right: 10px;
      }
    }
  }
}
// 按钮布局
.buttonList .ant-form-item-control-input-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 底部注册文案
.register {
  margin-top: 20px;
  cursor: pointer;
  color: rgb(163, 163, 238);
}
// 顶部标题
.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

// checkbox动画
.notice {
  animation-name: noticeAnimation;
  transform-origin: center bottom;
  animation-duration: 2s;
  animation-fill-mode: both;
  // animation-iteration-count: infinite;
  animation-delay: .5s;
}

@keyframes noticeAnimation {
  0% {
    transform: rotate(0deg);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
  }

  10% {
    transform: rotate(-12deg);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
  }

  20% {
    transform: rotate(12deg);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
  }

  28% {
    transform: rotate(-10deg);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
  }

  36% {
    transform: rotate(10deg);
    transition-timing-function: cubic-bezier(0.755, .5, .855, .06);
  }

  42% {
    transform: rotate(-8deg);
    transition-timing-function: cubic-bezier(0.755, .5, .855, .06);
  }

  48% {
    transform: rotate(8deg);
    transition-timing-function: cubic-bezier(0.755, .5, .855, .06);
  }

  52% {
    transform: rotate(-4deg);
    transition-timing-function: cubic-bezier(0.755, .5, .855, .06);
  }

  56% {
    transform: rotate(4deg);
    transition-timing-function: cubic-bezier(0.755, .5, .855, .06);
  }

  60% {
    transform: rotate(0deg);
    transition-timing-function: cubic-bezier(0.755, .5, .855, .06);
  }

  100% {
    transform: rotate(0deg);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
  }
}
